n8n-workflows/1-basic-whatsapp-ai-agent.json
{
  "name": "WhatsApp AI Agent - Basic",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-whatsapp",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "whatsapp-incoming"
    },
    {
      "parameters": {
        "jsCode": "// Extraire les informations du message WhatsApp\nconst body = $input.item.json.body;\n\nconst from = body.From || '';\nconst message = body.Body || '';\nconst senderName = body.ProfileName || 'Client';\n\n// Nettoyer le numéro de téléphone\nconst phoneNumber = from.replace('whatsapp:', '');\n\nreturn {\n  from: phoneNumber,\n  message: message,\n  senderName: senderName,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "extract-message",
      "name": "Extract Message Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "modelId": "gpt-4-turbo-preview",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "content": "Tu es un assistant IA professionnel pour une entreprise. Tu aides les clients avec leurs demandes concernant :\n- Demandes de devis\n- Prise de rendez-vous\n- Questions sur les services\n- Suivi de projets\n\nRéponds de manière courtoise, professionnelle et concise. Si une demande nécessite une action spécifique (devis, RDV), indique clairement ce qui sera fait."
            },
            {
              "role": "user",
              "content": "={{ $json.message }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 500
        }
      },
      "id": "openai-chat",
      "name": "OpenAI Chat",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "urlEncoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "whatsapp:{{ $env.TWILIO_WHATSAPP_NUMBER }}"
            },
            {
              "name": "To",
              "value": "whatsapp:{{ $('Extract Message Data').item.json.from }}"
            },
            {
              "name": "Body",
              "value": "={{ $json.choices[0].message.content }}"
            }
          ]
        }
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "Twilio Credentials"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Message processed\" } }}"
      },
      "id": "response-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "whatsapp_messages",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone_number": "={{ $('Extract Message Data').item.json.from }}",
            "sender_name": "={{ $('Extract Message Data').item.json.senderName }}",
            "message_in": "={{ $('Extract Message Data').item.json.message }}",
            "message_out": "={{ $('OpenAI Chat').item.json.choices[0].message.content }}",
            "timestamp": "={{ $('Extract Message Data').item.json.timestamp }}"
          }
        }
      },
      "id": "save-to-db",
      "name": "Save to Database (Optional)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [850, 450],
      "disabled": true,
      "credentials": {
        "postgres": {
          "id": "3",
          "name": "Postgres Database"
        }
      }
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "Extract Message Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Data": {
      "main": [
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save to Database (Optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Reply": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-15T00:00:00.000Z",
  "versionId": "1"
}
